@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #1c1d22;
  font-family: Roboto Mono;
  height: 100%;
}
body {
  min-height: fit-content;
  height: 100%;
  display: flex;
  flex-flow: column;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.combobox-item[aria-selected="true"] {
  background: rgb(82 82 91);
}

.combobox-item:hover {
  background: rgb(82 82 91);
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.fa2-grid-template {
  grid-template-columns: 3fr 2fr 3fr 1fr;
}

@media (max-width: 992px) {
  .fa2-grid-template {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
